form {
    background-color: grey;
    border: 2px solid black;
    border-radius: 4px;
    max-width: 15%;
}
input[type=text]{
    background-color: grey;
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 2%;
}
h4{
    margin-top: 0;
    margin-left: 2%;
    margin-bottom: 0;
    margin-right: 0;

}
::placeholder{
    color: aliceblue;
    opacity: 0.5;
}
body{
    background-color: grey;
}
