.menu-button {
    width: 17%;
    height: 35px;
}
.menu-anchor{
    margin-left:42%;
}
.bg{
    background-image:url('http://localhost/practice/PHP2/original.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: -999;
    position: absolute;
}